.logo{
    width: 19.171rem;
    height: 8rem;
    margin-left: 7%;
}

.nav{
    border-bottom: 0.1rem solid #8992B9;
    width: 100%;
    /* padding: none; */
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 6.8rem;
}

.nav__signin{
    margin-right: -162%;
    margin-top: 7%;
    font-size: 3.3rem;
    color: white;
    display: inline-block;
    width: 124px;
}

a{
    text-decoration: none;
}

    