.section-features{
    background-color: #484D64;
    height: auto;
    padding-top: 20px;
}

.section-heading{
    text-align: center;
    transform: translateY(5rem);
    font-family: 'Dosis', sans-serif;
    font-size: 4rem;
    color: white;
    margin-bottom: 6rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-1-of-4{
    margin: 10rem auto;
    font-family: 'Lora', serif;
}

@media (min-width:320px) and (max-width:414px){
    .section-features{
        background-color: #484D64;
    }

    .col-1-of-4{
        margin: 3rem auto;
        font-family: 'Lora', serif;
    }

    .section-heading{
        text-align: center;
        transform: translateY(5rem);
        font-family: 'Dosis', sans-serif;
        font-size: 6rem;
        color: white;
        margin-bottom: 6rem;
    }
}
