header{
    background-color: var(--primary-color);
    height: 90.5vh;
}

h1{
    color: #FFFFFF;
    font-size: 6rem;
    width:54.2rem;
    height: 12.3rem;
}

p{
    color: #BDBEC7;
    width:43.8rem;
    height:16.9rem;
    outline: 2px border green;
    font-size: 2.5rem;
    margin-top: 6.5rem;
    line-height: 4.8rem;
}

.banner{
    display: flex;
    width: 100%;
}

.banner__img{ 
    margin-left: 5.0rem;
    width: 63.0rem;
    height: 63.1rem;
} 

.banner__descr{
    padding-left: 4.8rem;
}

@media (min-width:320px) and (max-width:414px) {
    .banner{
        border: 1px solid blue;
        width: 100%;
    }
    .banner__descr{
        padding-left: 0px;
    }
    h1{
        color: #FFFFFF;
        width: 30rem;
        height: 8.1rem;
        /* margin: 0 50%; */
        transform: translateX(3.4rem);
        /* justify-content: center; */
        font-size: 3rem;
        text-align: center;
        border: 1px solid green;
        /* font-size: 6rem;
        width:54.2rem;
        height: 12.3rem; */
    }
    p{
        color: #BDBEC7;
        width:30rem;
        height:12.5rem;
        font-size: 2rem;
        margin-top: 3.5rem;
        line-height: 2.9rem;
        border: 1px solid wheat;
        text-align: center;
    }
    .banner__img{ 
        display: none;
    } 
}