.logo{
    width: 191.71px;
    height: 80px;
    margin-left: 7%;
}

.nav{
    border-bottom: 1px solid #8992B9;
    width: 100%;
    /* padding: none; */
    background-color: #232946;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 68px;
}

.nav__signin{
    margin-right: 7%;
    margin-top: 1%;
    font-size: 33px;
}

header{
    background-color: #232946;
    height: 90.5vh;
}

h1{
    color: #FFFFFF;
    font-size: 60px;
}

p{
    color: #BDBEC7;
}